*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper{
	width:60%;
	margin:0 auto;
	background-color:#8FBC8F;
	border: 2px solid #b4b4b4;
}
.wrapper h1 , .wrapper h2 {
	font-family:sans-serif;
	text-align: center;	
}
label{
	font-size: 18px;
	text-transform: capitalize;
}
.username, .pin, .f_name, .l_name, .email, .phone, .dob, .quantity, .homepage, .appt, .training , .agree, .files, .share {
	font-size: 14px;
	width:55%;
	height: 30px;
	padding:8px;
}
.pin,.training, .dob,.email, .phone,.quantity, .appt{
	width:25%;
}
.submit{ 
	padding: 10px 40px;
    margin-left: 325px;
    cursor: pointer;
}
.submit:hover{
	background-color: #008080;
}

